* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: $bg-color-base;
    color: $text-color;
    font-family: $font-family;
    font-size: $font-size-base;
    line-height: $line-height-base;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

:root {
    color-scheme: light;
}