.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.content {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

.cardContainer {
  width: 100%;
  max-width: 400px;
  background-color: var(--bg-color-container);
  border-radius: var(--border-radius-card);
  padding: 2rem;

}

.cardHeader {
  text-align: center;
  margin-bottom: 2rem;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.errorBox {
  color: var(--error-color);
  background-color: rgba(220, 53, 69, 0.1);
  padding: 0.75rem;
  border-radius: 4px;
  text-align: center;
  border: 1px solid var(--error-color);
}

.buttonContainer {
  margin-top: 0.5rem;
}

.fullWidthButton {
  width: 100%;
}

.footer {
  margin-top: 1rem;
  text-align: center;
}

.link {
  color: var(--primary-color);
  text-decoration: none;

  &:hover {
    color: var(--primary-hover);
  }
}