@use '../abstracts/variables' as *;

.grid-layout {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
    width: 100%;
    padding: 0;
    box-sizing: border-box;

    @media (max-width: 768px) {
        grid-template-columns: 1fr;
    }
}